.content-container {
  flex-grow: 1;
  background-color: gray;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
  transition: all 0.3s ease;
}

.content {
  background-color: white;
  flex-grow: 1;
  padding: 20px;
  height: 100%;
}

.kiosk-container {
  flex-grow: 1;
  background-color: gray;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.kiosk-content {
  background-color: white;
  flex-grow: 1;
  padding: 20px;
  height: 100%;
}
